.BannerSection {
    width: 100%;
    background: var(--green-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);

    .container {
        width: 100%;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        gap: 80%;
        z-index: 2;

        .wppBtn {
            width: 180px;
            height: 37px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: 1px var(--yellow-border) solid;
            border-radius: 15px;
            font-size: .8125rem;
            font-weight: 900;
            color: #ffffff;
            cursor: pointer;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            }
        }
    }

    .containerImg {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

@media(max-width: 800px) {
    .BannerSection {
        img {
            width: 93px;
        }

        .container {
            width: 100%;
            padding: 20px;
            gap: 30%;
            .wppBtn {
                .wppIcon {
                    width: 19px;
                }

                width: 130px;
                font-size: .625rem;
            }
        }
    }
}