.formSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;

    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        gap: 15px;

        h2{
            width: 100%;
            text-align: center;
            font-size: 1.875rem;
            font-weight: 700;
            color: var(--green-background);
        }

        p{
            width: 100%;
            font-size: 1rem;
            font-weight: 400;
            color: #323232;
            text-align: center;
        }

        .formContainer{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .inputGroup{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 5px;

                label{
                    font-weight: 700;
                    font-size: .875rem;
                    color: var(--green-background);
                }

                input, select{
                    width: 100%;
                    height: 47px;
                    background: #ffffff;
                    border: 1px solid var(--green-yellow);
                    border-radius: 8px;
                    padding: 5px 10px;
                    font-size: .875rem;
                    ::placeholder{
                        color: #888888;
                    }
                }
            }

            .btnSubmit{
                width: 100%;
                height: 47px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 10px;
                background: var(--green-yellow);
                color: #ffffff;
                font-size: 1rem;
                font-weight: 700;
                border-radius: 8px;
                gap: 20px;
            }
        }
    }
}

@media(max-width: 800px){
    .formSection{
        .container{
            width: 100%;
            h2, p{
                text-align: left;
            }
        }
    }
}