:root{
    /*cores*/
    --green-background: #005A32;
    --green-font: #2A543A;
    --green-yellow: #4AC34A;
    --yellow-border: #B8C429;
    --yellow-font: #B6C327;
    --black: #323232;

    /*Fonte*/
    --main-font: "Raleway", sans-serif;
}